<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.liang.apblog.dao.BlogCategoryDao">
    <resultMap id="CategoryMap" type="com.liang.apblog.model.pojo.BlogCategory">
        <id property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="isDeleted" column="is_deleted"/>
        <result property="frUserId" column="fr_user_id"/>
        <result property="categoryName" column="category_name"/>
        <result property="categoryDesc" column="category_desc"/>
    </resultMap>

    <sql id="categoryAllCol">
        `id`, `create_time`, `update_time`, `is_deleted`,
        `fr_user_id`, `category_name`, `category_desc`
    </sql>

    <insert id="insert" parameterType="com.liang.apblog.model.pojo.BlogCategory">
        insert into `blog_category` (id, fr_user_id, category_name, category_desc)
        values (#{id}, #{frUserId}, #{categoryName}, #{categoryDesc})
    </insert>

    <update id="update" parameterType="com.liang.apblog.model.pojo.BlogCategory">
        update `blog_category`
        <set>
            <if test="isDeleted != null">
                `is_deleted` = #{isDeleted},
            </if>
            <if test="categoryName != null">
                `category_name` = #{categoryName},
            </if>
            <if test="categoryDesc != null">
                `category_desc` = #{categoryDesc}
            </if>
        </set>
        where `id` = #{id}
    </update>

    <select id="selectById" resultMap="CategoryMap">
        select
        <include refid="categoryAllCol"/>
        from `blog_category`
        where `id` = #{id}
    </select>

    <select id="selectByUserId" resultMap="CategoryMap">
        select
        <include refid="categoryAllCol"/>
        from `blog_category`
        <where>
            `fr_user_id` = #{userId}
            <if test="isDeleted != null">
                and `is_deleted` = #{isDeleted}
            </if>
        </where>
    </select>
</mapper>