<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.liang.apblog.dao.DictValueDao">
    <resultMap id="DictValueMap" type="com.liang.apblog.model.pojo.DictValue">
        <id property="id" column="id"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="isDeleted" column="is_deleted"/>
        <result property="valueName" column="value_name"/>
        <result property="desc" column="desc"/>
        <result property="frKeyId" column="fr_key_id"/>
    </resultMap>
    <sql id="DictValueAllCol">
        `id`, `create_time`, `update_time`, `is_deleted`,
        `value_name`, `desc`, `fr_key_id`
    </sql>

    <!--插入一条用户记录-->
    <select id="selectByKeyId" resultMap="DictValueMap">
        select
        <include refid="DictValueAllCol"/>
        from `dict_value`
        where `fr_key_id` = #{keyId}
        and `is_deleted` = 0

    </select>

    <select id="selectById" resultMap="DictValueMap">
        select
        <include refid="DictValueAllCol"/>
        from `dict_value`
        where `id` = #{id}
    </select>

</mapper>